.codegen
obj
accesslist.txt
*.csproj
launchSettings.json
tools_asset_info.bin
tools_thumbnail_cache.bin
*.xml
*.dll
*.pdb
.intermediate/net5.0/sandbox.deps.json
maps/editor/_bakeresourcecache/toolscene_default_baked/*

raw_content/**/*.wav
raw_content/**/*.png
raw_content/**/*.jpg
raw_content/**/*.jpeg
raw_content/**/*.bmp
raw_content/**/*.gif
raw_content/**/*.fbx
raw_content/**/*.obj
raw_content/**/*.glb
raw_content/**/*.gltf
raw_content/**/*.blend
raw_content/**/*.blend1
raw_content/**/*.bin
raw_content/**/*.txt

**/Server/
push.py